.app-wrapper {}

.app-tabs {
  background: #fff;
  border-bottom: 1px solid #e9ecef;
  padding-top: 15px;
}
.app-tabs .nav-tabs {
  margin-bottom: -1px;
}
.app-tabs .nav-item:not(:last-child) {
  margin-right: 5px;
}
.app-tabs .nav-tabs .nav-link.active,
.app-tabs .nav-tabs .nav-item.show .nav-link {
  background-color: #f2f5f7;
  border-bottom-color: #f2f5f7;
}

.demo-tabs-dropdown {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
}
.demo-tabs-dropdown .dropdown-toggle {
  border-radius: 3px;
  cursor: pointer;
}
.demo-tabs-dropdown.show .dropdown-toggle,
.demo-tabs-dropdown .dropdown-toggle:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.demo-tabs-dropdown .dropdown-toggle:after {
  margin: 0 0.1em;
  vertical-align: 0.18em;
}
.demo-tabs-dropdown .dropdown-menu {
  margin-top: 2px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
