<div class="row flex-lg-nowrap">
  <div class="col mb-3">
    <e-panel [title]="'Users'" [subtitle]="'Be a wise Leader'">
      <div class="mt-3">
        <e-table
          [items]="tabs[tab]"
          [columns]="columns"
          [pagination]="true"
          [page]="page"
          [limit]="perPage"
          [tableClass]="'table table-bordered table-lg'"
          [paginationClass]="'pagination pagination-sm pagination-separated justify-content-center mb-0'"
          [responsive]="true">
          <ng-template head-template prop="check">
            <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0">
              <input
                type="checkbox"
                class="custom-control-input"
                name="all-items"
                id="all-items"
                [checked]="tabs.selected.length === tabs.all.length"
                (change)="selectAll($event.target.checked)" />
              <label class="custom-control-label" [for]="'all-items'"></label>
            </div>
          </ng-template>
          <ng-template cell-template let-row="row" let-index="index" prop="check">
            <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0">
              <input
                type="checkbox"
                class="custom-control-input"
                [id]="'item-' + index"
                [(ngModel)]="row.selected" />
              <label class="custom-control-label" [for]="'item-' + index"></label>
            </div>
          </ng-template>
          <ng-template cell-template let-row  prop="photo">
            <div class="bg-light justify-content-center align-items-center" style="width: 35px; height: 35px; border-radius: 3px; display: inline-flex; vertical-align: top;">
              <i class="fa fa-fw fa-photo" style="opacity: .8"></i>
            </div>
          </ng-template>
          <ng-template cell-template let-row prop="date">{{ row.date * 1000 | date: 'mediumDate' }}</ng-template>
          <ng-template cell-template let-row prop="status">
            <i
              [ngClass]="{ 'fa fa-fw text-secondary cursor-pointer': true, 'fa-toggle-on': row.status, 'fa-toggle-off': !row.status }"
              (click)="toggleStatus(row)"></i>
          </ng-template>
          <ng-template cell-template let-row prop="action">
            <div class="btn-group align-top">
              <button
                class="btn btn-sm btn-outline-secondary badge"
                type="button"
                (click)="userToShow = row; openModal(editUserModal)">Edit</button>
              <button
                class="btn btn-sm btn-outline-secondary badge"
                type="button"
                (click)="deleteUser(row)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </ng-template>
        </e-table>
      </div>
    </e-panel>
  </div>
  <div class="col-12 col-lg-3 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="text-center px-xl-3">
          <button
            class="btn btn-success btn-block"
            type="button"
            (click)="openModal(newUserModal)">New User</button>
        </div>
        <hr class="my-3">
        <e-navlist [activeBold]="true">
          <ul class="nav">
            <li class="nav-item" [class.active]="tab == 'all'">
              <a href=""
                class="nav-link px-3 text-nowrap"
                (click)="$event.preventDefault(); tab = 'all'">
                <span>All</span>
                <small>/ {{ tabs.all.length }}</small>
              </a>
            </li>
            <li class="nav-item" [class.active]="tab == 'active'">
              <a href=""
                class="nav-link px-3 text-nowrap"
                (click)="$event.preventDefault(); tab = 'active'">
                <span>Active</span>
                <small>/ {{ tabs.active.length }}</small>
              </a>
            </li>
            <li class="nav-item" [class.active]="tab == 'selected'">
              <a href=""
                class="nav-link px-3 text-nowrap"
                (click)="$event.preventDefault(); tab = 'selected'">
                <span>Selected</span>
                <small>/ {{ tabs.selected.length }}</small>
              </a>
            </li>
          </ul>
        </e-navlist>
        <hr class="my-3">
        <div class="">
          <div class="form-group">
            <label>Date from - to:</label>
            <div class="">
              <e-datepicker-range
                [value]="filters.date"
                (onChange)="filters.date = $event"
                [placeholder]="(minMaxDates[0] * 1000 | date: 'dd LLL yy') + ' - ' + (minMaxDates[1] * 1000 | date: 'dd LLL yy')"></e-datepicker-range>
            </div>
          </div>
          <div class="form-group">
            <label>Search by Name:</label>
            <div>
              <input
                class="form-control w-100"
                type="text"
                [(ngModel)]="filters.name"
                placeholder="Name">
            </div>
          </div>
        </div>
        <hr class="my-3">
        <div class="">
          <label>Status:</label>
          <div class="px-2">
            <div class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                name="user-status"
                [value]="false"
                [(ngModel)]="filters.status"
                id="users-status-disabled">
              <label class="custom-control-label" for="users-status-disabled">Disabled</label>
            </div>
          </div>
          <div class="px-2">
            <div class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                name="user-status"
                [value]="true"
                [(ngModel)]="filters.status"
                id="users-status-active">
              <label class="custom-control-label" for="users-status-active">Active</label>
            </div>
          </div>
          <div class="px-2">
            <div class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                name="user-status"
                [value]="null"
                [(ngModel)]="filters.status"
                id="users-status-any">
              <label class="custom-control-label" for="users-status-any">Any</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #newUserModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New User</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="pb-1">
      <app-profile-form [isNew]="true"></app-profile-form>
    </div>
  </div>
</ng-template>
<ng-template #editUserModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit User</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="py-1">
      <app-profile [user]="userToShow"></app-profile>
    </div>
  </div>
</ng-template>
